/* Footer CSS Adjustments */
/* TG Table Formatting */
.tg {border-collapse:collapse;border-spacing:0;border:none;border-color:#ccc;margin:0px auto;width:100%;}
.tg td {padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th {padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-center {text-align:center;vertical-align:top}
.tg .tg-right {text-align:right;vertical-align:top}
.tg .tg-left {text-align:left;vertical-align:top}
